
body {
   background-image: url(background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
    }

.header-text {
  color: white;
  text-align: center;
  font-family: helvetica;
  margin-top: 10%;
  margin-bottom: 100px;
}

.campaign {
  font-size: 14px;
}

.holiday-edit {
  font-size: 50px;
  margin-top: 0px;
}

#container {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.numbers {
  top: 20%;
  left:20%;
  margin: auto;
  position: absolute;
  align: center;
  width:60%;
}

.svg-lines {
  margin: auto;
  top: -8px;
  left: -40px;
  position: absolute;
  align: center;
  width: 100%;
}
